body{
	background-image:url(/assets/mike.png);
}

.container-fluid{
	width:80%;
	margin:auto;
}

.height800{
	height:800px;
	overflow-y:auto;
	background-image: url(/assets/cow.png);
	background-size:100%;
}

.cow{
	margin-right: auto;
	margin-left:auto;
	border-radius:10px;
	height:65px;
}

/*.on_cow{
	background-color:rgba(0,92,0,.5);
}*/

.t_logo{
	border-radius:10px;
}

legend{
	color:darkgreen;
	padding:8px;
	

}

.meta{
	
	padding-left:8px;
}

.status{
	background-color:rgba(0,92,0,.5);
	border-radius:10px;
	margin-bottom: 10px;


}

.white{
	color:white;
	padding-left:8px;
}



.margin-bot10{
	margin-bottom: 100px;
}



.d_wrap{
	resize:none;
	width:87%;
	margin-left: 8px;
	
}

.well{
	box-shadow: 3px 5px 5px 2px rgba(0,81,0,.7);
}



.page-header{
	border-radius:10px;
	background-image: url(/assets/sunset.jpg)
}

.span4 .well .t_logo{
	margin:0;
	padding:0;
}

.outer{
width : 100%;
height: 40px;
margin-left:30px;
overflow-x:hidden;

box-shadow: 1px 1px 1px 5px rgba(0,81,0,.6)  inset;
border-radius:10px;
background-color: rgba(100,149,237,.3);

}

.scroller{
	margin:0;
	padding:0;
	
}



.marquee{

width : 600px;
height : 30px;
padding:0;
margin:0;
position:relative;
font-size: 18px;
color:white;
-webkit-animation-name:scrolltext;
-webkit-animation-duration:10s;
-webkit-animation-timing-function:linear;
-webkit-animation-delay:0s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:forward;
-webkit-animation-play-state:running;
animation-name:scrolltext;
animation-duration:10s;
animation-timing-function:linear;
animation-delay:0s;
animation-iteration-count:infinite;
animation-direction:forward;
animation-play-state:running;



	
}

@keyframes scrolltext
{
0%   {background:left:200px; top:0px;}
100%  {background:left:-300px; top:0px;}

}

@-webkit-keyframes scrolltext /* Safari and Chrome */
{
0%   {left:600px;top:10px;}
100%  {left:-600px;top:10px;}

}

