

/*
.control-group, .password, .optional .user_password .controls {
	margin:0;
	padding:0;

}*/


/*
.rounded-box
{
  padding:1px 5px;
  background-color: rgba(255,120,0,.2);
  border-radius: 2%;
  
}

.rounded-box, .legend{
	margin:0;
	padding:0;
}


.sign-up-headbox
{
	margin-bottom: 15px;
}*/