body{
	background-image:url(/assets/mike.jpg);
}

.container-fluid{
	width:80%;
	margin:auto;
}

.height800{
	height:800px;
	overflow-y:auto;
	background-image: url(/assets/cow.png);
	background-size:100%;

}



.d_wrap{
	resize:none;
	width:95%;
}

.well{
	box-shadow: 3px 5px 5px 2px rgba(81,81,81,.7);
}



.page-header{
	border-radius:10px;
}

.span4 .well .t_logo{
	margin:0;
	padding:0;
}

